.cart-container {
  width: 60%;
  margin: auto;
  padding: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;

  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

/* ✅ الصورة داخل الكارت */
.cart-item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-details {
  flex: 1;
}

.total {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.checkout-btn {
  display: inline-block;
  padding: 10px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
